#navbar-placeholder,
#navbar_placeholder * {
  padding: 10px;
}

#navbar-placeholder,
#navbar-placeholder *,
#navbar-placeholder a,
#navbar-placeholder .nav-link,
#navbar-placeholder .navbar-brand,
#navbar-placeholder .nav-link.active,
#navbar-placeholder .nav-link.show {
  color: #fff !important;
}


body { background: #111 !important; color: #fff !important; }

